/*
Kóði til að láta transparent hluta af SVG eða PNG myndum í pydata theme-inu verða gegnsæann í dark-mode.
Þetta er alltaf gegnsætt í light-mode, en í dark-mode þarf þessi kóði að vera til staðar
*/

html[data-theme='dark'] .bd-content img[src*=".svg"]:not(.only-dark):not(.dark-light) {
    filter: invert(100%);  /* Remove filter effects that alter appearance */
    background: transparent; /* Ensure background is transparent */
}

/*
Allar myndir í miðjunni
*/

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.figure img {
    min-width: 2000px
}